In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

JUPITER_RAD = 11.209  # Radius of Jupiter in Earth radii
JUPITER_MASS = 317.83 # Mass of Jupiter in Earth mass units

# Load the dataset
df = pd.read_csv('cleaned_5250.csv')
print(df.shape)
df.head(10)

(5250, 13)

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_multiplier,mass_wrt,radius_multiplier,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method
0,11 Comae Berenices b,304.0,4.72307,Gas Giant,2007,19.40000,Jupiter,1.080,Jupiter,1.290000,0.892539,0.23,Radial Velocity
1,11 Ursae Minoris b,409.0,5.01300,Gas Giant,2009,14.74000,Jupiter,1.090,Jupiter,1.530000,1.400000,0.08,Radial Velocity
2,14 Andromedae b,246.0,5.23133,Gas Giant,2008,4.80000,Jupiter,1.150,Jupiter,0.830000,0.508693,0.00,Radial Velocity
3,14 Herculis b,58.0,6.61935,Gas Giant,2002,8.13881,Jupiter,1.120,Jupiter,2.773069,4.800000,0.37,Radial Velocity
4,16 Cygni B b,69.0,6.21500,Gas Giant,1996,1.78000,Jupiter,1.200,Jupiter,1.660000,2.200000,0.68,Radial Velocity
5,17 Scorpii b,408.0,5.22606,Gas Giant,2020,4.32000,Jupiter,1.150,Jupiter,1.450000,1.600000,0.06,Radial Velocity
6,18 Delphini b,249.0,5.51048,Gas Giant,2008,10.30000,Jupiter,1.110,Jupiter,2.600000,2.700000,0.08,Radial Velocity
7,1RXS J160929.1-210524 b,454.0,12.61800,Gas Giant,2008,8.00000,Jupiter,1.664,Jupiter,330.000000,6505.900000,0.00,Direct Imaging
8,24 Bootis b,313.0,5.59000,Gas Giant,2018,0.91000,Jupiter,1.240,Jupiter,0.190000,0.083231,0.04,Radial Velocity
9,24 Sextantis b,235.0,6.45350,Gas Giant,2010,1.99000,Jupiter,1.190,Jupiter,1.333000,1.239699,0.09,Radial Velocity

In [2]:
# Show the possible planet types in the data
print(df.planet_type.unique())
print(df.planet_type.value_counts())
print(df.radius_wrt.unique())
print(df.mass_wrt.unique())
print(df.shape)

['Gas Giant' 'Super Earth' 'Neptune-like' 'Terrestrial' 'Unknown']
planet_type
Neptune-like    1825
Gas Giant       1630
Super Earth     1595
Terrestrial      195
Unknown            5
Name: count, dtype: int64
['Jupiter' 'Earth' nan]
['Jupiter' 'Earth' nan]
(5250, 13)

In [3]:
# Remove entries where either radius nor mass is not recorded
#df = df.dropna(subset=['radius_wrt', 'mass_wrt'])
print(df['radius_wrt'].unique())
print(df['mass_wrt'].unique())
df.shape

['Jupiter' 'Earth' nan]
['Jupiter' 'Earth' nan]

(5250, 13)

In [4]:
# Calculate radii and masses in terms of Earth radius and mass
df['radius'] = np.where(df['radius_wrt'] == 'Earth', df['radius_multiplier'], df['radius_multiplier'] * JUPITER_RAD)
df['mass'] = np.where(df['mass_wrt'] == 'Earth', df['mass_multiplier'], df['mass_multiplier'] * JUPITER_MASS)
df.head()

,name,distance,stellar_magnitude,planet_type,discovery_year,mass_multiplier,mass_wrt,radius_multiplier,radius_wrt,orbital_radius,orbital_period,eccentricity,detection_method,radius,mass
0,11 Comae Berenices b,304.0,4.72307,Gas Giant,2007,19.40000,Jupiter,1.08,Jupiter,1.290000,0.892539,0.23,Radial Velocity,12.10572,6165.902000
1,11 Ursae Minoris b,409.0,5.01300,Gas Giant,2009,14.74000,Jupiter,1.09,Jupiter,1.530000,1.400000,0.08,Radial Velocity,12.21781,4684.814200
2,14 Andromedae b,246.0,5.23133,Gas Giant,2008,4.80000,Jupiter,1.15,Jupiter,0.830000,0.508693,0.00,Radial Velocity,12.89035,1525.584000
3,14 Herculis b,58.0,6.61935,Gas Giant,2002,8.13881,Jupiter,1.12,Jupiter,2.773069,4.800000,0.37,Radial Velocity,12.55408,2586.757982
4,16 Cygni B b,69.0,6.21500,Gas Giant,1996,1.78000,Jupiter,1.20,Jupiter,1.660000,2.200000,0.68,Radial Velocity,13.45080,565.737400

In [5]:
# Drop irrelevant columns
df = df.drop(labels=['radius_wrt', 'mass_wrt', 'radius_multiplier', 'mass_multiplier', 'discovery_year'], axis='columns')
df.head()

,name,distance,stellar_magnitude,planet_type,orbital_radius,orbital_period,eccentricity,detection_method,radius,mass
0,11 Comae Berenices b,304.0,4.72307,Gas Giant,1.290000,0.892539,0.23,Radial Velocity,12.10572,6165.902000
1,11 Ursae Minoris b,409.0,5.01300,Gas Giant,1.530000,1.400000,0.08,Radial Velocity,12.21781,4684.814200
2,14 Andromedae b,246.0,5.23133,Gas Giant,0.830000,0.508693,0.00,Radial Velocity,12.89035,1525.584000
3,14 Herculis b,58.0,6.61935,Gas Giant,2.773069,4.800000,0.37,Radial Velocity,12.55408,2586.757982
4,16 Cygni B b,69.0,6.21500,Gas Giant,1.660000,2.200000,0.68,Radial Velocity,13.45080,565.737400

In [6]:
# Count null values
print(df.isnull().sum())

name                   0
distance              17
stellar_magnitude    161
planet_type            0
orbital_radius       289
orbital_period         0
eccentricity           0
detection_method       0
radius                17
mass                  23
dtype: int64